button.key {
  position: relative;
  cursor: pointer;
  user-select: none;
  border: 0;
  padding: 0;
  background: transparent;
  padding-bottom: 0.5rem;
  color: var(--color-bg);
  &:focus {
    outline: none;
  }
  & .btn {
    position: relative;
    border-radius: 0.25rem;
    background-color: var(--color-button);
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    sub,
    sup {
      font-size: 0.9rem;
      position: relative;
      top: -0.25rem;
    }
    sub {
      top: 0.25rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0;
    height: calc(100% - 0.5rem);
    width: 100%;
    border-radius: 0.25rem;
    background-color: var(--color-button-shadow);
  }

  & .badge {
    position: absolute;
    right: -0.2rem;
    top: -0.2rem;
    background-color: var(--color-button);
    box-shadow: -1px 1px 3px 1px var(--color-button-shadow);
    color: var(--color);
    border-radius: 0.7rem;
    height: 1.4rem;
    min-width: 1.4rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
  }
  &:active .btn,
  &.active .btn {
    top: 0.25rem;
    transition: top 0.1s;
  }
  &.enter {
    grid-column-start: -3;
    grid-column-end: -1;
  }

  @mixin key($background, $shadow) {
    &::before {
      background-color: $shadow;
    }
    & .btn {
      background-color: $background;
    }
    & .badge {
      background-color: $background;
      box-shadow: -1px 1px 3px 1px $shadow;
    }
  }

  $colors: "red", "orange", "yellow", "teal", "navy", "green", "blue";

  @each $color in $colors {
    &.#{$color} {
      @include key(var(--color-#{$color}), var(--color-#{$color}-shadow));
    }
  }
}

.keyboard {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 2.75rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease;
  opacity: 1;
  &.fullscreen {
    overflow: hidden;
    height: 0;
    opacity: 0;
    margin-top: 0;
  }
}

.header button.key {
  margin-left: 0.25rem;
  height: 1.5rem;
  width: 2.5rem;
  & .badge {
    right: -0.75rem;
    top: -0.75rem;
  }
  & .btn {
    font-size: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
